<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>EthicalSocialMedia</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/7f3eced345.js" crossorigin="anonymous"></script>
</head>


<header>
    <h1>
        <a href="/"><img class="logo" src="/stylesheets/logo.png" /></a>
        
    </h1>
    <nav>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        <a href="/profile">Profile</a>

        {{else}}
        <a href="/login">login</a>
        <a href="/signup">Sign up</a>
        {{/if}}

    </nav>
</header>



{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

<body>
    <main>

        <!--Search Bar/Profiles-->
        <section>
            <!--Search Bar-->
            

            
            <!--Search Bar End-->

            {{{ body }}}

        </section>
        <!--Search Bar/Profiles End-->

    </main>

    <script src="/javascript/index.js"></script>
    

</body>

</html>