<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
    <title>EthicalSocialMedia</title>
    <script src="https://kit.fontawesome.com/7f3eced345.js" crossorigin="anonymous"></script>
</head>


<header>
    <h1>
        <a href="/">Ethical Social Media</a>
        <!--Logo here--->
    </h1>
    <nav>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/profile">Profile</a>

        {{else}}
        <a href="/login">login</a>
        <a href="/signup">Sign up</a>
        {{/if}}

    </nav>
</header>



{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/profile.js"></script>
{{/if}}

<body>
    <main>
        <!--Search Bar/Profiles-->
        <section>
            <!--Search Bar-->
            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchBorder" placeholder="Search" id="searchBar" />
                    <button type="submit" class="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <!--Search Bar End-->

            {{{ body }}}

        </section>
        <!--Search Bar/Profiles End-->

    </main>

    <script src="/javascript/index.js"></script>
</body>

</html>