<div class="wrap">
  <div class="search">
    <input
      id="searchbar"
      onkeyup="search_users()"
      type="text"
      name="search"
      placeholder="Search users.."
    />
  </div>
</div>

{{#if users}}
  <div>
    {{! This whole thing would go in a card }}
    {{#each users}}
      <div class="row profiles">
        <div class="col-md-12 users userBox">
          <img src="{{imgUrl}}" />
          {{! user name }}
          <h2>
            <a class="link" href="/user/{{id}}">Username: {{username}}</a></h2>
          {{! User overall ranking }}
          <h2>Overall Rating: {{overall}}</h2>
        </div>
      </div>
    {{/each}}

  </div>
{{/if}}
<script src="/javascript/search.js"></script>