<!--Profiles-->
<div>
    <article>
        <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=NoHair&accessoriesType=Blank&facialHairType=BeardMajestic&facialHairColor=Red&clotheType=Hoodie&clotheColor=PastelGreen&eyeType=Default&eyebrowType=RaisedExcited&mouthType=Default&skinColor=Light" />
        <div>
            <h2>Name:</h2>
            <h2>Overall Rating:</h2>
        </div>
    </article>
    <article>
        <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Auburn&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Yellow" />
        <div>
            <h2>Name:</h2>
            <h2>Overall Rating:</h2>
        </div>
    </article>
</div>