* {
  box-sizing: border-box;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(#f72585, #b5179e, #7209b7, #560bad, #480cab, #380ca3, #3f37c9, #4361ee, #4895ef, #4cc9f0);
}

header {
      padding: 20px 35px;
      display: flex;
      justify-content: space-between;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color:#4cc9f0;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  /* display: flex;
  flex-wrap: wrap; */
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  clear:both;
}

/* header nav ul li a:hover {
  background: rgba(83, 9, 50, 0.589);
  color: ##f72585;
  border-radius: 15px;
  text-shadow: none;
} */